@import 'node_modules/coffeekraken-sugar/index';
@import 'node_modules/coffeekraken-s-typography-component/index';
@import 'node_modules/coffeekraken-s-button-component/index';
@import '../../../index';

@include s-setup(());
@include s-init();
@include s-classes();

body {
	padding: s-space(bigger);
}

@include s-typography-classes();
@include s-button-classes();

@include s-slideshow-classes();
s-slideshow {
	max-width: 1000px;
}
.slideshow__metas {
	padding: s-space(big);
	@include s-position(absolute, bottom);
	background : s-color(default);
	opacity:0;
	transform: translateY(100px);
	@include s-transition(-delay .4s);

	@each $color in (primary,secondary,success) {
		&.slideshow__metas--#{$color} {
			background : s-color($color);
		}
	}
	&, * { color: white; }

	[active] > & {
		opacity:1;
		transform: translateY(0);
	}
}
.slideshow__next,
.slideshow__previous {
	font-size: s-rem(30px);
	color: white;
	position:absolute;
	top:33%;
	@include s-translate(0,-50%);
	z-index:10;
	background-color: s-color(black, -opacity .5);
	display:inline-block;
	padding:6px 15px 10px 15px;
	line-height: 1;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: s-color(black, -opacity .8);
	}
}
.slideshow__next {
	right:0;
}

.slideshow__navigation {
	position:absolute;
	bottom:s-rem(10px); left:0;
	width: 100%;
	z-index:10;
	text-align: center;
}
	.slideshow__navigation-item {
		display: inline-block;
		width: s-rem(8px); height: s-rem(8px);
		background-color: s-color(white, -opacity .3);
		border-radius: s-rem(4px);
		cursor: pointer;

		&:hover,
		&[active] {
			background-color: s-color(white, -opacity 1);
		}
	}

img {
	opacity:0;
	@include s-transition(slow);
	&[loaded] {
		opacity:1;
	}
}
